// 容器
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 $space-sm;
}

//header
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black-100;
    z-index: 99;
}

.logo {
    width: 245px;
    height: 40px;
}

.navbar {
    background-color: $black-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // relative- 因為要使用z-index
    position: relative;
    z-index: 98;
    padding-top: $space-2;
    padding-bottom: $space-2;
    border-bottom: 1px solid $white;

    &-menu {
        display: flex;

        &-item {
            padding-top: $space-sm;
            padding-bottom: $space-sm;
            color: $white;
            line-height: 1.5;

            &:hover {
                color: $primary;
            }
        }
    }
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // relative- 因為要使用z-index
    position: relative;
    z-index: 97;
    // 顯示高度
    min-height: 0;
    margin-top: -200px;
    transition: 0.8s;

    &-item {
        color: $white;

        &:active {
            color: $primary;
        }
    }


    &-btn {
        display: none;
        padding: $space-base;
        line-height: 0;

        &:active {
            color: $primary;
        }
    }
}

@media (max-width:768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-collapse {
        &.active {
            min-height: calc(100vh - 81px);
            margin-top: 0;
            transition: 0.8s;
        }

        &-btn {
            display: block;
            padding: $space-sm;
        }
    }
}

//卡片
.card-list {
    display: flex;
    // 不加入justify-content，依據卡片樣式增加class
    flex-wrap: wrap;
    gap: $space-3;
}

// card 不使用scss階層，方便後續種類卡片樣式權重覆蓋
.card-3 {
    border-radius: 16px;
    width: calc((100% / 3) - 24px);

    @media (max-width:992px) {
        width: 48%;
    }

    @media (max-width:768px) {
        width: 100%;
    }
}

.card-2 {
    border-radius: 16px;
    width: calc(50% - 12px);

    @media (max-width:768px) {
        width: 100%;
    }
}

.card-body,
.card-detail {
    padding: $space-lg $space-4;
}

.card-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $black-20;
    line-height: 0;

    &-btn {
        color: $black-100;
        line-height: 1.5;

        &:hover {
            color: $primary;
        }
    }
}

.tools-card {
    width: 416px;
    border: 1px solid $black-20;
    border-radius: 16px;
    // 內容等高
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1319px){
        width: 48%;
    }
    @media (max-width:768px) {
        width: 100%;
    }

    &-img {
        &-frame {
            border-radius: 16px 16px 0 0;
            overflow: hidden;
            transition: 0.4s;
        }

        // 卡片hover時圖片放大
        &-content {
            width: 100%;
            object-fit: cover;
            transition: 0.4s;

        }
    }

    // 卡片hover時圖片放大
    &:hover {
        .tools-card-img-content {
            transform: scale(1.1);
            transition: 0.4s;
        }
    }
}

// 卡片少於3張時可以靠左
@media (min-width: 1320px){
    // 計算右邊的margin
    .tools-card:last-child:nth-child(3n-1) {
        margin-right: calc((100% / 3) + 8px);
    }
}


// 應用
.bg-white {
    background: $white;
    color: $black-100;
    border-radius: $space-20;
    padding-top: $space-20;
    padding-bottom: $space-20;

    @media (max-width:768px) {
        border-radius: $space-lg;
        padding-top: $space-10;
        padding-bottom: $space-10;
    }
}

// 應用 篩選區
.tools {
    &-search {
        padding: $space-2 $space-5;
        background-color: $black-20;
        border-radius: 16px;
        display: flex;

        &:hover {
            outline: 1px solid $black-80;
        }

        &-icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            color: $black-60;
        }

        &-input {
            width: 100%;
            border: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }
    }

    &-type {
        display: flex;
        justify-content: space-between;
        overflow: auto;

        @media (max-width:768px) {
            width: 100%;
            align-self: center;
            order: 2;
            margin-top: $space-2;

        }

        &-btn {
            color: $black-60;
            white-space: nowrap;
        }

        .active {
            color: $black-100;
            font-weight: 700;
            background-color: $black-20;
        }
    }

    &-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    //下拉選單 
    &-frame {
        border-radius: 16px;
        border: 1px solid $black-20;
    }

    &-order {
        background-color: $white;
        position: relative;

        &-btn {
            padding: $space-lg $space-5 $space-lg $space-4;
            border-radius: 16px;

            &:hover {
                outline: 1px solid $black-80;
            }
        }
    }

    &-menu {
        background-color: $white;
        position: absolute;
        z-index: 96;
        margin-top: $space-xs;
        padding-top: $space-2;
        padding-bottom: $space-2;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 16px;

        &-item {
            padding: $space-xs $space-5;

            &:hover {
                background-color: $black-20;
            }
        }
    }

    .divider {
        width: 65%;
        border-top: 1px solid $black-20;
    }
}

//頁碼
.pagination {
    display: flex;
    justify-content: flex-end;

    &-item {
        width: 48px;
        padding-top: 13.5px;
        padding-bottom: 13.5px;
        border-radius: 16px;
        text-align: center;
        color: $black-100;
    }

    &-item.active {
        background-color: $black-100;

        & .page-link {
            color: $white;
        }
    }

    &-item-icon {
        font-size: 21px;
    }
}

.page-link {
    color: $black-100;

    &:hover {
        color: $primary;
    }

    &.disabled {
        color: $black-20;
    }
}

//sitemap
.sitemap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: $space-10;
    padding-bottom: $space-10;
    border-bottom: 1px solid $white;

    @media (max-width:768px) {
        flex-direction: column;
    }
}

//footer
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $space-lg;
    padding-bottom: $space-lg;

    @media (max-width:768px) {
        flex-wrap: wrap;
    }

    &-text,
    &-menu,
    &-btn {
        padding-top: $space-sm;
        padding-bottom: $space-sm;
    }

    &-menu {
        display: flex;
        width: 60%;

        @media (max-width:576px) {
            order: 3;
            margin-top: $space-sm;
        }
    }

    &-menu-item,
    &-btn {
        color: $white;

        &:hover {
            color: $primary;
        }
    }

}