.sale-animate-margin {
    margin-top: 238px;

    @media (max-width:768px) {
        margin-top: 258px;
    }

}

.price-card {
    background-color: $black-100;
    border: 1px solid $white;
    display: flex;
    flex-direction: column;

    &-body,
    &-detail {
        @media (max-width:768px) {
            padding: $space-lg $space-lg;
        }

    }

    &-list {
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: 136px;

        @media (max-width:768px) {
            margin-bottom: 58px;
        }
    }

}

.rule {
    display: flex;
    justify-content: space-between;

    @media (max-width:768px) {
        flex-direction: column;
    }

    &-title {
        flex-shrink: 0;
    }

    &-content {
        @media (max-width:768px) {
            width: 100%;
        }

        &-item {
            border-bottom: 1px solid $white;
        }
    }

}

.qa {
    padding-top: $space-20;
    padding-bottom: $space-20;
    border-bottom: 1px solid $white;

    display: flex;
    justify-content: space-between;

    @media (max-width:768px) {
        flex-direction: column;
    }

    &-title {
        flex-shrink: 0;
    }
}

.qa-list {
    width: 856px;
    @media (max-width:768px) {
        width: 100%;
    }

    &-item {
        border: 1px solid $black-80;
        border-radius: 16px;
        &:hover,&:active {
            border: 1px solid $white;
        }
    }

    &-link,
    &-content {
        padding: $space-lg $space-5;

        @media (max-width:768px) {
            padding: $space-lg;
        }
    }

    &-link {
        display: flex;
        color: $white;

        &:hover,&:active {
            color: $primary;
        }
    }
}