//display
.d-block {
    display: block;
}

.d-none {
    display: none;
}
@media (max-width:768px) {
    .d-md-block{
        display: block;
    }
    .d-md-none {
        display: none;
    }
}

//定位
.position-relative {
    position: relative;
}

//垂直置中
.vertical-middle{
    vertical-align: middle;
}


